assets/extracted_*
assets/page_*
assets/raw_*
assets/temp_*
assets/p1*
assets/p2*
assets/p3*
assets/p4*
assets/p8*
assets/hero_*
assets/jeep_*
assets/nitro_*
assets/poppins_*
assets/r1_*
assets/r9_*
assets/runner_*
assets/speedster_*
assets/moon_*
assets/luusa_brochure_compressed.pdf
.next
node_modules

*.pdf
